:root {
    --color-bg: #fff0b1;
    --color-text: #7a403a;
    --color-accent: #cb8400;
    --color-accent-hover: orange;
    --color-block-bg: #fffafa;
    --color-green: #70c16d;
    --color-blue: #4a92ea;
    --color-high: #d16565;
    --color-mid: #cf984f;
    --color-low: #d1bb58;
    --color-default: #a58559;
}

html {
    font-size: 125%;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
}

input,
textarea,
button,
select {
    font: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

dialog {
    margin: auto;
}

dialog::backdrop {
    background-color: rgba(0, 45, 0, 0.3);
    backdrop-filter: blur(2px);
}

#modal-add-todo,
#modal-add-project {
    background-color: var(--color-green);
    color: var(--color-block-bg);
    border: 5px solid var(--color-block-bg);
    border-radius: 15px;
    padding: 1rem;
    font-size: 150%;
    text-align: center;
}

#modal-add-todo label,
#modal-add-project label {
    font-size: 1.2rem;
}

#todo-priority {
    border: 2px solid var(--color-block-bg);
    background: none;
    color: var(--color-block-bg);
    font-size: 1rem;
    border-radius: 5px;
    padding: .3rem 1rem;
    width: minmax(135, 50%);
    align-self: center;
    margin-top: 1rem;
    text-align: center;
}

#modal-add-todo input[type='text'],
#modal-add-todo textarea,
#modal-add-project input[type='text'],
#modal-add-project textarea {
    background: none;
    border: 2px solid var(--color-block-bg);
    border-radius: 10px;
    color: var(--color-block-bg);
    font-size: 1.4rem;
    padding: .5rem 1rem;
}

#modal-add-todo textarea,
#modal-add-project textarea {
    font-size: .9rem;
}

#todo-notes {
    height: 150px;
}

#modal-add-todo input[type='text']::placeholder,
#modal-add-todo textarea::placeholder,
#modal-add-project input[type='text']::placeholder,
#modal-add-project textarea::placeholder {
    color: var(--color-block-bg);
}

#modal-add-todo input[type='date'],
#modal-add-todo input[type='time'] {
    background: none;
    border: 2px solid var(--color-block-bg);
    margin-bottom: .5rem;
    border-radius: 5px;
    color: var(--color-block-bg);
    font-size: 1rem;
    padding: .25rem 1rem;
}

#form-modal-add-todo {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#form-modal-add-todo-due h3 {
    margin-bottom: 10px;
}

#form-modal-add-todo-due h5 {
    margin-top: 15px;
    margin-bottom: 0;
}

#form-modal-add-todo-fields {
    display: flex;
    flex-direction: column;
}

#form-modal-add-todo-due {
    border: 2px solid var(--color-block-bg);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
}

#form-modal-buttons button {
    border-radius: 100%;
    border: 2px solid var(--color-block-bg);
    font-size: 3rem;
}


button[type="submit"] {
    background-color: var(--color-blue);
}

button[type="reset"] {
    background-color: var(--color-high);
}

button:hover,
::-webkit-datetime-edit:hover,
::-webkit-calendar-picker-indicator:hover,
.input-date-time:hover,
#todo-priority:hover {
    transform: scale(105%);
    cursor: pointer;
}


button:active,
.input-date-time:active {
    transform: scale(95%);
}

button {
    color: var(--color-block-bg);
    border: none;
    background: none;
    padding: .5rem;
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 90vh;
    gap: 20px;
    padding: 20px;
}

#sidebar,
#todo-page {
    border-radius: 50px;
}

#sidebar {
    background-color: var(--color-block-bg);
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

#sidebar button {
    border: none;
    font-size: 1.5rem;
    /* background: var(--color-accent); */
    /* color: var(--color-block-bg); */
    color: var(--color-text);
    width: 100%;
}

#sidebar h1 {
    font-size: 2rem;
}

#nav-projects {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#sidebar .active-project {
    background-color: var(--color-default);
    color: var(--color-block-bg);
    border-radius: 5px;
    transform: scale(105%);
    filter: saturate(130%);
}

#todo-list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#todo-page {
    background-color: var(--color-block-bg);
}

#todo-page h1 {
    font-size: 5rem;
    padding: 3rem 3rem 0rem 3rem;
}

button#btn-add-project {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    width: 25%;
}

button#btn-add-project,
#btn-add-todo {
    border-radius: 100%;
    background-color: var(--color-green);
    color: var(--color-block-bg);
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

#btn-add-todo {
    position: fixed;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5rem;
    width: 150px;
}

#btn-add-todo:hover {
    transform: translateX(-50%) scale(1.05);
}

#btn-add-todo:active {
    transform: translateX(-50%) scale(.95);
}

#btn-add-todo {
    transition: transform 0.2s ease;
}

.todo-item {
    background-color: var(--color-default);
    padding: 1rem;
    color: var(--color-block-bg);
}

.pr-default {
    background-color: var(--color-default);
}

.pr-low {
    background-color: var(--color-low);
}

.pr-mid {
    background-color: var(--color-mid);
}

.pr-high {
    background-color: var(--color-high);
}


.todo-item[open] {
    filter: saturate(130%);
    transform: scale(101%);
    border-radius: 15px;
}

.todo-item summary {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

#project-title {
    margin-bottom: 1rem;
}


.todo-title {
    font-size: 1.2rem;
    font-weight: 700;
    background: none;
    border: none;
    color: var(--color-block-bg);
    text-overflow: ellipsis;
    width: 97%;
}

.todo-date-time {
    font-size: .9rem;
    text-align: right;
    margin-left: auto;
    min-inline-size: 10ch;
}

.btn-checkbox {
    background: none;
    color: var(--color-block-bg);
    border: none;
    font-size: 1.6rem;
}

.todo-notes {
    border: 1px solid var(--color-block-bg);
    background-color: transparent;
    color: inherit;
    border-radius: 15px;
    padding: 1rem;
    width: 100%;
    min-height: 8rem;
    resize: vertical;
    line-height: 1.7;
    font-size: .9rem;
}

.input-date-time,
.btn-remove-todo {
    border: 1px solid var(--color-block-bg);
    border-radius: 10px;
    background-color: transparent;
    color: inherit;
    padding: .3rem;
}

::-webkit-calendar-picker-indicator {
    font-size: 1.3rem;
    filter: invert(1);
    margin: auto;
}

.input-date-time::-webkit-datetime-edit {
    display: none;
}

.btn-remove-todo {
    font-size: 1.5rem;
}

.todo-expanded {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 1.1rem;
}

.todo-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
}