:root {
    --color-bg: #fff0b1;
    --color-text: #7a403a;
    --color-accent: #cb8400;
    --color-accent-hover: orange;
    --color-block-bg: rgba(255, 255, 255, 0.8);
    --color-green: #70c16d;
    --color-high: #cf4f4f;
    --color-normal: #cf984f;
    --color-low: #cfbc4f;
    --color-default: #a58559;
}

html {
    font-size: 125%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
}

button:hover,
.input-date-time:hover {
    transform: scale(105%);
    cursor: pointer;
}

button:active,
.input-date-time:active {
    transform: scale(95%);
}

button {
    color: white;
    border: none;
    background: none;
    padding: .5rem;
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 90vh;
    gap: 20px;
    padding: 20px;
}

#sidebar,
#todo-page {
    border-radius: 50px;
}

#sidebar {
    background-color: var(--color-block-bg);
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

#sidebar button {
    border: none;
    font-size: 1.5rem;
    /* background: var(--color-accent); */
    /* color: white; */
    color: var(--color-text);
    width: 100%;
}

#sidebar button:hover {
    filter: brightness(150%) saturate(110%);
}

#sidebar h1 {
    font-size: 2rem;
}

#nav-projects {
    display: flex;
    flex-direction: column;
}

#todo-list {
    display: flex;
    flex-direction: column;
}

#todo-page {
    background-color: var(--color-block-bg);
}

#todo-page h1 {
    font-size: 5rem;
    padding: 3rem 3rem 0rem 3rem;
}

#btn-add-todo {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--color-green);
    font-size: 5rem;
    border-radius: 100%;
    width: 150px;
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-add-todo:hover {
    transform: translateX(-50%) scale(1.05);
}

#btn-add-todo:active {
    transform: translateX(-50%) scale(.95);
}

#btn-add-todo {
    transition: transform 0.2s ease;
}

.todo-item {
    background-color: var(--color-default);
    padding: 1rem;
    color: white;
}


.todo-item[open] {
    filter: saturate(130%);
    transform: scale(101%);
    border-radius: 15px;
}

.todo-item summary {
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.todo-title {
    font-weight: 700;
}

.todo-date-time {
    font-size: .9rem;
    text-align: right;
    margin-left: auto;
}

.btn-checkbox {
    background: none;
    color: white;
    border: none;
    font-size: 1.6rem;
}

.todo-notes {
    border: 1px solid white;
    background-color: transparent;
    color: inherit;
    border-radius: 15px;
    padding: 1rem;
    width: 100%;
    min-height: 8rem;
    resize: vertical;
    line-height: 1.7;
    font-size: .9rem;
}

.input-date-time,
.btn-remove-todo {
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: inherit;
    padding: .5rem;
}

.input-date-time::-webkit-calendar-picker-indicator {
    filter: invert(1);
    font-size: 1.5rem;
    cursor: pointer;
}

.input-date-time::-webkit-datetime-edit {
    display: none;
}
    
.btn-remove-todo {
    font-size: 1.5rem;
}   

.todo-expanded {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 1.1rem;
}

.todo-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
}
